<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h3><%= @comment.comment %></h3>
<h5>is commented by:</h5>
<h4><%= @comment.commenter %></h4>
<%= link_to "approved", "http://172.20.1.65:3000/comments/approve?cid=#{@comment.id}&approve=1" %>&nbsp;&nbsp;&nbsp;
<%= link_to "Not approved","http://172.20.1.65:3000/comments/approve?cid=#{@comment.id}&approve=0" %>
 
 

</body>
</html>

